@font-face {
	font-family:"Magic Cards Normal";
	src:
		url("../fonts/MAGIC_CA.eot?") format("eot"),
		url("../fonts/MAGIC_CA.woff") format("woff"),
		url("../fonts/MAGIC_CA.ttf") format("truetype"),
		url("../fonts/MAGIC_CA.svg#MagicCardsNormal") format("svg");
	font-weight:normal;
	font-style:normal;
}	

@font-face {
    font-family: 'extrabold';
    src: url('../fonts/extrabold.woff2') format('woff2'),
         url('../fonts/extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.html, body {
	margin: 0;
	padding: 0;
}

.homepage{
	font-family: "extrabold";
	margin: 0px;
}

.homeheader{
	background-image: url(../img/scaffold.png);
	width: 1920px;
	height: 254px;
}

.homeheadertext{
	margin: 0px;
	padding-top: 50px;
	padding-left: 10px;
	width: 1000px;
	font-size: 35px;
	color: white;
}

.homebody{
	background-image: url(../img/concrete-collage.png);
	margin: 0px;
	width: 1920px;
	height: 1080px;
}	

.home-taoc{
	display: inline-block;
	background-image: url(../img/home-taoc.png);
	width: 200px;
	height: 224px;
	font-size: 45px;
	color: transparent;
	text-align: center;
	text-decoration: none;
}

.home-taoc:hover{
	display: block;
	background-image: url(../img/home-taoc.png);
	width: 200px;
	height: 224px;
	font-size: 45px;
	color: white;
	text-align: center;
	text-decoration: none;
}

.home-taoc:active{
	display: inline-block;
	background-image: url(../img/home-taoc.png);
	width: 200px;
	height: 224px;
	font-size: 45px;
	color: black;
	text-align: center;
	text-decoration: none;
}

.home-taoc-xy{
	float: left;
	padding: 60px 60px 60px 60px;
}

.home-lib{
	display: inline-block;
	background-image: url(../img/home-lib.png);
	width: 200px;
	height: 324px;
	font-size: 55px;
	color: transparent;
	text-align: center;
	text-decoration: none;
	line-height: 1.2;
}

.home-lib:hover{
	display: inline-block;
	background-image: url(../img/home-lib.png);
	width: 200px;
	height: 324px;
	font-size: 55px;
	color: white;
	text-align: center;
	text-decoration: none;
	line-height: 1.2;
}

.home-lib:active{
	display: inline-block;
	background-image: url(../img/home-lib.png);
	width: 200px;
	height: 324px;
	font-size: 55px;
	color: black;
	text-align: center;
	text-decoration: none;
	line-height: 1.2;
}

.home-lib-xy{
	float: left;
	padding: 60px 60px 60px 60px;
}

.home-gallery{
	display: inline-block;
	background-image: url(../img/home-gallery.png);
	width: 200px;
	height: 272px;
	font-size: 40px;
	color: transparent;
	text-align: center;
	text-decoration: none;
}

.home-gallery:hover{
	display: inline-block;
	background-image: url(../img/home-gallery.png);
	width: 200px;
	height: 272px;
	font-size: 40px;
	color: white;
	text-align: center;
	text-decoration: none;
}

.home-gallery:active{
	display: inline-block;
	background-image: url(../img/home-gallery.png);
	width: 200px;
	height: 272px;
	font-size: 40px;
	color: black;
	text-align: center;
	text-decoration: none;
}

.home-gallery-xy{
	float: left;
	padding: 60px 60px 60px 60px;
}

.home-opalka{
	display: inline-block;
	background-image: url(../img/home-opalka.png);
	width: 200px;
	height: 290px;
	font-size: 40px;
	color: transparent;
	text-align: center;
	text-decoration: none;
}

.home-opalka:hover{
	display: inline-block;
	background-image: url(../img/home-opalka.png);
	width: 200px;
	height: 290px;
	font-size: 40px;
	color: white;
	text-align: center;
	text-decoration: none;
}

.home-opalka:active{
	display: inline-block;
	background-image: url(../img/home-opalka.png);
	width: 200px;
	height: 290px;
	font-size: 40px;
	color: black;
	text-align: center;
	text-decoration: none;
}

.home-opalka-xy{
	float: left;
	padding: 60px 60px 60px 60px;
}

.home-repo{
	display: inline-block;
	background-image: url(../img/home-repo.jpg);
	width: 200px;
	height: 275px;
	font-size: 45px;
	color: transparent;
	text-align: center;
	text-decoration: none;
	line-height: 1.2;
}

.home-repo:hover{
	display: inline-block;
	background-image: url(../img/home-repo.jpg);
	width: 200px;
	height: 275px;
	font-size: 45px;
	color: white;
	text-align: center;
	text-decoration: none;
	line-height: 1.2;
}

.home-repo:active{
	display: inline-block;
	background-image: url(../img/home-repo.jpg);
	width: 200px;
	height: 275px;
	font-size: 45px;
	color: black;
	text-align: center;
	text-decoration: none;
	line-height: 1.2;
}

.home-repo-xy{
	float: left;
	padding: 60px 60px 60px 60px;
}

.home-space{
	display: inline-block;
	background-image: url(../img/home-space.jpg);
	width: 200px;
	height: 256px;
	font-size: 45px;
	color: transparent;
	text-align: center;
	text-decoration: none;
}

.home-space:hover{
	display: block;
	background-image: url(../img/home-space.jpg);
	width: 200px;
	height: 256px;
	font-size: 45px;
	color: white;
	text-align: center;
	text-decoration: none;
}

.home-space:active{
	display: inline-block;
	background-image: url(../img/home-space.jpg);
	width: 200px;
	height: 256px;
	font-size: 45px;
	color: black;
	text-align: center;
	text-decoration: none;
}

.home-space-xy{
	float: left;
	padding: 60px 60px 60px 60px;
}

.repo{
	font-family: "extrabold";
	margin-left: 50px;
}

.taoc{
	background-image: url(../img/desk.png);
	font-size: 30px;
	font-family: "Magic Cards Normal";
}

.journal{
	background-image: url(../img/journal.png);
	width: 1100px;
	height: 685px;
	margin-left: auto;
	margin-right: auto;
}

.left-page{
	float: left;
	width: 450px;
	height: 685px;
	padding-top: 0px;
	padding-left: 60px;
	padding-right: 30px;
}

.right-page{
	float: right;
	width: 450px;
	height: 685px;
	padding-top: 0px;
	padding-left: 40px;
	padding-right: 60px;
}

.mwind-btn {
	display: inline-block;
	padding: 0 20px;
	width: 70px;
	border-width: 5px;
	border-style: outset;
	border-color: #dbd172;
	background-color: black;
	font-size: 20px;
	color: #dbd172;
	text-align: center;
	text-decoration: none;
}

.mwind-btn:visited {
	display: inline-block;
	padding: 0 20px;
	width: 70px;
	border-width: 5px;
	border-style: outset;
	border-color: #dbd172;
	background-color: black;
	font-size: 20px;
	color: #dbd172;
	text-align: center;
	text-decoration: none;
}

.mwind-btn:hover {
	display: inline-block;
	padding: 0 20px;
	width: 70px;
	border-width: 5px;
	border-style: outset;
	border-color: #faf2aa;
	background-color: black;
	font-size: 20px;
	color: #faf2aa;
	text-align: center;
	text-decoration: none;
}

.mwind-btn:active {
	display: inline-block;
	padding: 0 20px;
	width: 70px;
	border-width: 5px;
	border-style: outset;
	border-color: #dbd172;
	background-color: black;
	font-size: 20px;
	color: #a8ecff;
	text-align: center;
	text-decoration: none;
}

.nav-left{
	float:left;
	width: 40%;
	padding-top: 10px;	
	padding-left: 25px;
	text-align: left;
	font-size: 20px;
}

.nav-right{
	float:right;
	width: 40%;
	padding-top: 10px;	
	padding-right: 25px;
	text-align: right;
	font-size: 20px;	
}

.nav-home{
	text-align: center;
	clear: both;
	font-size: 20px;	
}

.lib-home{
	display: inline-block;
	background-color: #fcfcf7;
	width: 150px;
	color: #e2b603;
	font-family: "Arial";
	font-size: 30px;
	text-align: center;
	text-decoration: none;
}

.lib-home:hover{
	display: inline-block;
	width: 150px;
	color: #fcdb56;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
}

.lib-home:active{
	display: inline-block;
	width: 150px;
	color: #fcfcae;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
}

.lib-home-xy{
	padding-top: 0px;
	padding-left: 0px;
}

.lib-plax-item{
	background-color: #fcfcf7;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px; 
	padding-right: 100px;
	font-family: "Arial"
	}

.lib-plax-bkgd{
	background: url(../img/lib-bkgd.png) 
	repeat fixed 100%;
	background-color: #fcfcf7;
}

.lib-plax-inner{
	padding-top: 7%;
	padding-bottom: 7%;
}

.lib-plax-btn{
	padding-top: 0px;
	padding-bottom: 0px;
}

.lib-date{
	text-align: center;
	color:#707070;
	font-size: 12px;
}

.opalka-home{
	display: inline-block;
	color: black;	
	text-decoration: none;
}

.opalka-home:hover{
	display: inline-block;
	color: grey;	
	text-decoration: none;
}

.opalka-home:active{
	display: inline-block;
	color: #EFEFEF;	
	text-decoration: none;
}

.opalka-nav {
	width: 10%;
    background: linear-gradient(90deg, #EFEFEF, 80%, #FAFAFA);
    padding: 15px;
    height: 100vh;
	position: sticky;
	top: 0px;
	text-align: center;
}

.opalka-oeuvre {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.opalka-oeuvre-text {
    flex: 1;
    background-color: #EFEFEF;
    margin-bottom: 20px;
    padding: 10px 20px 10px 20px;
	overflow: scroll;
	max-height: 30vh; max-width: 100%;
}

.opalka-box {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #EFEFEF;
    padding: 10px;
	font-family: "Lucida Console";
	font-size: 12px;
}

#opalka-detail-1 {
    flex: 1 1 auto;
    background-color: #FFF;
    padding: 10px;
	overflow: scroll;
    min-width: 100px;
    min-height: 100px;
	max-height: 50vh;
	text-align: justify;
}
/* for future details, copy the same thing but change the background-color, and number the detail to match */

.gallery {
	display: flex;
	flex-wrap: wrap;
}

.gallery_item {
	border: 5px;
	border-color: #f2f4a;
	border-radius: 10px;
}

.galleryimage{
	max-height: 100vh;
	max-width:100vh;
}

.galleryfullsize {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	display: none;
	align-items: center;
	justify-content:center;
}

.galleryfullsize:target {
	display: flex;
}